# IDE
.idea/
.vscode/

# Python cache
__pycache__/

# Specific files
eng_audio_files_mp3/
venv/
.venv/

# Tests
.pytest_cache/

# Build and documentation
dist/
doc/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage and instrumentation
lib-cov/
coverage/
.nyc_output/

# Build and dependency files
.grunt/
bower_components/
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
.npm/
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

# Environment files
.env
.env.test

# Cache and build artifacts
.cache/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
